{
    "obs": {
        "websocket": {
            "host": "localhost",
            "port": 4455,
            "password": ""
        },
        "replayBuffer": true
    },
    "managedApps": {
        "noWinKey": {
            "path": "C:\\Apps\\NoWinKey\\NoWinKey.exe",
            "processName": "NoWinKey",
            "startupAction": "start",
            "shutdownAction": "stop",
            "arguments": ""
        },
        "autoHotkey": {
            "path": "",
            "processName": "AutoHotkeyU64|AutoHotkey|AutoHotkey64",
            "startupAction": "stop",
            "shutdownAction": "start",
            "arguments": ""
        },
        "clibor": {
            "path": "C:\\Apps\\clibor\\Clibor.exe",
            "processName": "Clibor",
            "startupAction": "none",
            "shutdownAction": "none",
            "arguments": "/hs"
        },
        "luna": {
            "path": "",
            "processName": "Luna",
            "startupAction": "stop",
            "shutdownAction": "none",
            "arguments": ""
        }
    },
    "games": {
        "apex": {
            "name": "Apex Legends",
            "steamAppId": "1172470",
            "processName": "r5apex*",
            "appsToManage": ["noWinKey", "autoHotkey", "luna", "obs", "clibor"]
        },
        "dbd": {
            "name": "Dead by Daylight",
            "steamAppId": "381210",
            "processName": "DeadByDaylight-Win64-Shipping*",
            "appsToManage": ["obs", "clibor"]
        }
    },
    "paths": {
        "steam": "C:\\Program Files (x86)\\Steam\\steam.exe",
        "obs": "C:\\Program Files\\obs-studio\\bin\\64bit\\obs64.exe"
    }
}